---
# template: 1.4.0
name: "Release/GitHub"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  DEV_CICD_DEBUG: "NONE"
  BL64_LIB_CICD: "YES"
  DEV_LIB_GITHUB_BIN: "gh"

on:
  push:
    tags:
      - "v?[0-9]+.[0-9]+.[0-9]+"

jobs:
  release-github:
    runs-on: "ubuntu-latest"
    permissions: "write-all"
    steps:

      - name: "Check out repository code"
        uses: "actions/checkout@main"

      - name: "Cache local tools"
        uses: "actions/cache@v4"
        with:
          path: ./lib
          key: ${{ runner.os }}-lib-cache
          restore-keys: |
            ${{ runner.os }}-lib-cache

      - name: "Download tools"
        run: |
          ./bin/dev-lib-base &&
          ./bin/dev-lib-github

      - name: "Prepare application for release"
        run: |
          ./bin/dev-build-project &&
          ./bin/dev-pack-project"

      - name: "Create release"
        run: "./bin/dev-release-github ${GITHUB_REF_NAME}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
...
