---
# template: 3.7.0
name: "Test/TestManSH/Bash Opt"

env:
  DEV_CICD_DEBUG: "NONE"
  BL64_LIB_CICD: "YES"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "feature/**"
    paths:
      - "src/*-api-*"
      - "src/*-arc-*"
      - "src/*-cryp-*"
      - "src/*-fmt-*"
      - "src/*-log-*"
      - "src/*-pkg-*"
      - "src/*-py-*"
      - "src/*-rbac-*"
      - "src/*-rxtx-*"
      - "src/*-tm-*"
      - "src/*-vcs-*"
      - "src/*-xsv-*"
      - "test/batscore/bash-opt/**"

jobs:
  test-testmansh-bash-opt:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        target:
          - "BASH_OPT"
    steps:

      - name: "Check out repository code"
        uses: "actions/checkout@main"

      - name: "Cache local tools"
        uses: "actions/cache@v4"
        with:
          path: ./lib
          key: ${{ runner.os }}-lib-cache
          restore-keys: |
            ${{ runner.os }}-lib-cache

      - name: "Download tools"
        run: |
          ./bin/dev-lib-base &&
          ./bin/dev-lib-testmansh


      - name: "Prepare for testing"
        run: "./bin/dev-build-project"

      - name: "Run tests"
        shell: 'script -q -e -c "bash {0}"'
        run: |
          source ./bin/dev-set &&
          source ./bin/dev-env-project &&
          ./bin/dev-test-testmansh "$DEV_TEST_TESTMANSH_CONTAINER_${{matrix.target}}" "$DEV_TEST_TESTMANSH_CASES_BASH_OPT"
...
